*{
    padding: 0;
    margin: 0;
    font-family: "Ubu";
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 10px;
    background: #f8fbff;
}

#header{
    width: 100%;
    height: 100vh;
}
/* container */

.container{
    padding: 10px 10%;
}

/* navbar styling */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;

}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #0094c9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* my images styling */
.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom, 1s, left, 1s;
}

.images:hover .bg_shape {
    bottom: 40px;
}

.images:hover .boy {
    left: 45%
}


.social-icons {
    left: 0%;
    position: relative;
    display: grid;
    column-gap: 1rem;
    -webkit-column-gap: 2.3rem;
    grid-template-columns: repeat(5, 16px);
}

.grid {
    grid-gap: 1.5rem;
    display: grid;
    gap: 1.5rem;
}

.details{
    margin-top: 15%;
}
.details_title {
    font-size: 1.3rem;
    color: rgb(35, 35, 35);
    margin-top: 30px;
}

.details h1 {
    font-size: 2.6rem;
    color: rgb(60, 60, 60);
    margin-bottom: 20px;
    font-weight: 700;

}
.details p {
    color: rgb(86, 86, 86);
    line-height: 22px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;

}

.details_subtitle {
    color: rgb(79, 79, 79);
    font-size: 1.3rem;
    font-weight: var(--font-normal);
    margin-bottom: 4rem;
    padding-left: 11rem;
    position: relative;
}

.details_subtitle::before {

    background-color: rgb(0, 0, 0);
    content: "";
    height: 1px;
    left:0%;
    position: absolute;
    top: 1.2rem;
    width: 9rem;

}
span{
    color:#0094c9;
}
.download_cv{
    background: #000;
    font-size: 1rem;
    color: #f8fbff;
    padding: 15px 18px;
    text-decoration: none;
    font-weight: bold;
    margin: 35px 0;
    display: inline-block;
    border-radius: 6px;
}
.download_cv:hover {
    background-color: #0279a4;
    transition: 0.5s;
}

.scroll_down_btn {
    color: rgb(70, 70, 70);
    background-color: #ffffff;
    border-radius: 2rem;
    border: rgb(119, 119, 119) solid 1px;
    bottom: 0;
    margin-top: 40px;
    font-size: 1.1rem;
    padding: 10px 18px;
}

/* abour section */

#about{
    padding: 30px 0;
}
.row{
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    display: flex;
    justify-content: center;
    flex-basis: 35%;
    border-right: #000 solid 1px;
}

.heading{
    flex-basis: 60%;
    font-size: 1.5rem;
}
.about-col-1 img{
    width: 300px;
    border-radius: 50%;
}


.about-col-2{
    display: flex;
    justify-content: space-between;
}

.sub-title{
    font-size: 35px;
    text-align: center;
}
.section_subtitle{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.about_me{
    flex-basis: 35%;
    margin-top: 25px;
    padding: 25px;
    border-radius: 9px;
    border: rgb(125, 125, 125) solid 1px;
}
.about_me:hover{
    transform: scale3d(1.02,1.02,1.02);
    transition: 0.6s;
    box-shadow:0 0 7px rgb(165, 165, 165);
}
.about_me p{
    margin: 10px;
    font-size: 18px;
    color: rgb(107, 107, 107);
    font-family: Arial, Helvetica, sans-serif;

}
.tab-section{
    border: rgb(125, 125, 125) solid 1px;
    border-radius: 8px;
    flex-basis: 60%;
    margin-top: 25px;
    padding: 25px;
}
.tab-section:hover{
    transform: scale3d(1.02,1.02,1.02);
    transition: 0.6s;
    box-shadow:0 0 7px rgb(165, 165, 165);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    background-color: #0094c9;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.s;
}

.tab-links.active-link::after{
    width: 60%;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 16px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

