*{
    padding: 0;
    margin: 0;
    font-family: "Ubu";
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 10px;
    background: #f8fbff;
}

#header{
    width: 100%;
    height: 100vh;
}
/* container */

.container{
    padding: 10px 10%;
}

/* navbar styling */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;

}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #0094c9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* my images styling */
.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom, 1s, left, 1s;
}

.images:hover .bg_shape {
    bottom: 40px;
}

.images:hover .boy {
    left: 45%
}


.social-icons {
    left: 0%;
    position: relative;
    display: grid;
    column-gap: 1rem;
    -webkit-column-gap: 2.3rem;
    grid-template-columns: repeat(5, 16px);
}

.grid {
    grid-gap: 1.5rem;
    display: grid;
    gap: 1.5rem;
}

.details{
    margin-top: 15%;
}
.details_title {
    font-size: 1.3rem;
    color: rgb(35, 35, 35);
    margin-top: 30px;
}

.details h1 {
    font-size: 2.6rem;
    color: rgb(60, 60, 60);
    margin-bottom: 20px;
    font-weight: 700;

}
.details p {
    color: rgb(86, 86, 86);
    line-height: 22px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;

}

.details_subtitle {
    color: rgb(79, 79, 79);
    font-size: 1.3rem;
    font-weight: var(--font-normal);
    margin-bottom: 4rem;
    padding-left: 11rem;
    position: relative;
}

.details_subtitle::before {

    background-color: rgb(0, 0, 0);
    content: "";
    height: 1px;
    left:0%;
    position: absolute;
    top: 1.2rem;
    width: 9rem;

}
span{
    color:#0094c9;
}
.download_cv{
    background: #000;
    font-size: 1rem;
    color: #f8fbff;
    padding: 15px 18px;
    text-decoration: none;
    font-weight: bold;
    margin: 35px 0;
    display: inline-block;
    border-radius: 6px;
}
.download_cv:hover {
    background-color: #0279a4;
    transition: 0.5s;
}

.scroll_down_btn {
    color: rgb(70, 70, 70);
    background-color: #ffffff;
    border-radius: 2rem;
    border: rgb(119, 119, 119) solid 1px;
    bottom: 0;
    margin-top: 40px;
    font-size: 1.1rem;
    padding: 10px 18px;
}

/* abour section */

#about{
    padding: 30px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    display: flex;
    justify-content: center;
    flex-basis: 35%;
    border-right: #000 solid 1px;
}

.heading{
    flex-basis: 60%;
    font-size: 1.5rem;
}
.about-col-1 img{
    width: 300px;
    border-radius: 50%;
}


.about-col-2{
    display: flex;
    justify-content: space-between;
}

.sub-title{
    font-size: 35px;
    text-align: center;
}
.section_subtitle{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.about_me{
    flex-basis: 35%;
    margin-top: 25px;
    padding: 25px;
    border-radius: 9px;
    border: rgb(125, 125, 125) solid 1px;
}
.about_me:hover{
    transform: scale3d(1.02,1.02,1.02);
    transition: 0.6s;
    box-shadow:0 0 7px rgb(165, 165, 165);
}
.about_me p{
    margin: 10px;
    font-size: 18px;
    color: rgb(107, 107, 107);
    font-family: Arial, Helvetica, sans-serif;

}
.tab-section{
    border: rgb(125, 125, 125) solid 1px;
    border-radius: 8px;
    flex-basis: 60%;
    margin-top: 25px;
    padding: 25px;
}
.tab-section:hover{
    transform: scale3d(1.02,1.02,1.02);
    transition: 0.6s;
    box-shadow:0 0 7px rgb(165, 165, 165);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    background-color: #0094c9;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.s;
}

.tab-links.active-link::after{
    width: 60%;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 16px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ---------- PROJECTS SECTION STYLING ------ */

#projects{
    padding: 30px 0;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div{
    color: #ffffff;
    background: #262626;
    padding: 40px;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list div h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.projects-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    margin-top: 20px;
    display: inline-block;
}

.projects-list div:hover{
    background: #0094c9;
    transform: translateY(-10px);
}

/* ---------- projects illustrations styling ------------- */

.projects-illustrations{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.myVideo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 600px;
}

.work{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.work video{
    display: block;
    border-radius: 15px;
    transition: 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.7), #019bd4);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: #fff;
    transition: height 0.5s;
}

.layer h1{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.layer p{
    font-size: 1.2rem;
}

.layer a{
    margin-top: 20px;
    color: #2fc7ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover video{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

/* --------------- CONTACT ME ------------- */

#contact{
    padding: 30px 0;
}
/* contact left styling */

.contact-left{
    flex-shrink: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    font-size: 1.1rem;
    color: gray;
    margin-top: 30px;
}

.contact-left p i{
    color: #019bd4;
    margin-right: 15px;
    font-size: 1.5rem;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 15px;
    color: #000;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #0094c9;
    transform: translateY(-5px);
}

/* contact form right styling */

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #e9e9e9;
    padding: 26px;
    margin: 15px 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 6px;
}

.btn{
    border: none;
    padding: 14px 60px;
    margin-top: 20px;
    cursor: pointer;
}

/* -------- Copyright styling ------- */

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #e9e9e9;
    font-weight: 300;
    font-size: 1.04rem;
    margin-top: 20px;
}

.copyright i{
    color: red;
}